.for-coach-page {
  display: flex;
  padding: 120px 30px;
  justify-content: center;
  align-items: center;
  color: var(--text-color2);
}

.for-coach-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 1200px;
}

.for-coach-page h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  letter-spacing: -4%;
  margin-bottom: 60px;
}

.for-coach-page h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -2%;
}

.for-coach-container section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.for-coach-container ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.for-coach-container li {
  font-size: 20px;
  font-weight: 400;
  line-height: 135%;
}

.coaches-rules-list li {
  list-style: disc;
  margin-left: 36px;
}
.coaches-rules-list {
  margin-top: 12px;
  gap: 0 !important;
}
