.coaches {
  padding: 60px 0;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(33, 33, 33, 1);
    z-index: -1;
  }

  .tag {
    font-size: 20px;
    letter-spacing: -1%;
    line-height: 115%;
    color: var(--text-color2);
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
  }

  h2 {
    font-size: 48px;
    letter-spacing: -3%;
    line-height: 115%;
    color: var(--text-color2);
    padding-top: 12px;
  }
}

.coaches-container {
  padding-top: 50px;
  position: relative;
}

.coaches-list {
  display: flex;
  gap: 20px;

  overflow-x: auto;
  overflow-y: hidden;

  width: 100%;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.coaches-list::-webkit-scrollbar {
  display: none;
}

.coaches-list .coach-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

/* Кнопки скролла */
.coaches-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

.coaches-nav:hover,
.coaches-nav:focus,
.coaches-nav:active {
  background: transparent;
  outline: none;
  box-shadow: none;
}

.coaches-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.coaches-nav-icon {
  display: block;
  pointer-events: none;
  user-select: none;
}

.coaches-nav--left {
  left: -70px;
}

.coaches-nav--right {
  right: -70px;
}

/* Карточка */
.coach-card {
  background-color: rgba(139, 139, 139, 0.2);
  display: flex;
  flex-direction: column;
  width: 385px;
  overflow: hidden;
  border-radius: 16px;
  color: #d0d0d0;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);

  p b {
    color: var(--text-color2);
  }

  h4 {
    position: absolute;
    background-color: #060606;
    border-radius: 10px;
    padding: 14px 30px;
    border: 1px solid #ffffff;
    color: var(--text-color2);
    left: 50%;
    transform: translateX(-50%);
    top: 21px;
    font-size: 20px;
    line-height: 115%;
    white-space: nowrap;
  }

  .coach-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 135%;
  }

  .coach-list {
    display: flex;
    gap: 12px;

    li {
      padding: 7px 12px;
      background-color: #060606;
      border-radius: 6px;
      border: 1px solid #f1d927;
      font-size: 14px;
      line-height: 115%;
      color: var(--text-color2);
      white-space: nowrap;
    }
  }
}

.coach-card img {
  width: 385px;
  height: 370px;
  border-radius: 16px 16px 0 0;
  user-select: none;
  pointer-events: none;
  display: block;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.tag--animated::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;

  background: conic-gradient(
    from var(--a),
    transparent 0deg,
    #f1d927 20deg,
    transparent 40deg,
    transparent 360deg
  );

  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  animation: tag-run 2.5s linear infinite;
  pointer-events: none;
}

@keyframes tag-run {
  to {
    --a: 360deg;
  }
}
