.for-coach-page {
  display: flex;
  padding: clamp(64px, 8vw, 120px) clamp(16px, 4vw, 30px);
  justify-content: center;
  align-items: center;
  color: var(--text-color2);
}

.for-coach-container {
  display: flex;
  flex-direction: column;
  gap: clamp(32px, 5vw, 60px);
  padding: clamp(24px, 4vw, 60px);
  border-radius: clamp(16px, 3vw, 24px);
  background-color: rgba(255, 255, 255, 0.1);
}

.for-coach-page h1 {
  font-weight: 600;
  font-size: clamp(32px, 4vw, 48px);
  line-height: 115%;
  letter-spacing: -0.04em;
  margin-bottom: clamp(32px, 4vw, 60px);
}

.for-coach-page h2 {
  font-size: clamp(20px, 2.4vw, 24px);
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -0.02em;
}

.for-coach-container section {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 4vw, 32px);
}

.for-coach-container ul {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 3vw, 24px);
}

.for-coach-container li {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 400;
  line-height: 135%;
}

.coaches-rules-list {
  margin-top: 12px;
  gap: 0 !important;
}

.coaches-rules-list li {
  list-style: disc;
  margin-left: 36px;
}
