.coaches {
  padding: 3.75rem 0; /* 60px */
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(33, 33, 33, 1);
    z-index: -1;
  }

  .tag {
    font-size: 1.25rem;
    letter-spacing: -0.01em;
    line-height: 1.15;
    color: var(--text-color2);
    display: inline-block;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.4375rem; /* 7px */
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
  }

  h2 {
    font-size: 3rem;
    letter-spacing: -0.03em;
    line-height: 1.15;
    color: var(--text-color2);
    padding-top: 0.75rem; /* 12px */
  }
}

.coaches-container {
  padding-top: 3.125rem; /* 50px */
  position: relative;
}

.coaches-list {
  display: flex;
  gap: 1.25rem; /* 20px */

  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.coaches-list::-webkit-scrollbar {
  display: none;
}

.coaches-list .coach-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

/* Кнопки скролла */
.coaches-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

.coaches-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.coaches-nav--left {
  left: -4.375rem; /* 70px */
}

.coaches-nav--right {
  right: -4.375rem;
}

/* Карточка */
.coach-card {
  background-color: rgba(139, 139, 139, 0.2);
  display: flex;
  flex-direction: column;
  width: 24.0625rem; /* 385px */
  overflow: hidden;
  border-radius: 1rem; /* 16px */
  color: #d0d0d0;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);

  p b {
    color: var(--text-color2);
  }

  h4 {
    position: absolute;
    background-color: #060606;
    border-radius: 0.625rem; /* 10px */
    padding: 0.875rem 1.875rem; /* 14px 30px */
    border: 1px solid #ffffff;
    color: var(--text-color2);
    left: 50%;
    transform: translateX(-50%);
    top: 1.3125rem; /* 21px */
    font-size: 1.25rem; /* 20px */
    line-height: 1.15;
    white-space: nowrap;
  }

  .coach-info {
    padding: 1.25rem; /* 20px */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 16px */
    line-height: 1.35;
  }

  .coach-list {
    display: flex;
    gap: 0.75rem; /* 12px */

    li {
      padding: 0.4375rem 0.75rem; /* 7px 12px */
      background-color: #060606;
      border-radius: 0.375rem; /* 6px */
      border: 1px solid #f1d927;
      font-size: 0.875rem; /* 14px */
      line-height: 1.15;
      color: var(--text-color2);
      white-space: nowrap;
    }
  }
}

.coach-card img {
  width: 24.0625rem; /* 385px */
  height: 23.125rem; /* 370px */
  border-radius: 1rem 1rem 0 0;
  user-select: none;
  pointer-events: none;
  display: block;
}
