.dota-hdr {
  display: flex;
  justify-content: center;
  padding-top: 155px;
  flex-direction: column;
  gap: 140px;
  padding-bottom: 55px;
}

.dota-hdr .dota-bg {
  position: absolute;
  width: 100vw;
  height: 550px;
  inset: 0;
  z-index: -999;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  user-select: none;
}

.dota-main-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -4%;
    color: var(--text-color2);
    text-align: center;
  }
  button {
    padding: 16px 32px;
    background-color: var(--text-color2);
    font-size: 20px;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -1%;
    color: #000000;
    border-radius: 10px;
  }
}

.dota-hdr-ul {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dota-hdr-ul li {
  background-color: #060606;
  border: 1px solid #ff6c32;
  border-radius: 6px;
  color: var(--text-color2);
  font-weight: 600;
  line-height: 105%;
  letter-spacing: -2%;
  padding: 10px 12px;
  font-size: 14px;
}

.dota-features {
  ul {
    display: flex;
    justify-content: space-between;
    li {
      color: var(--text-color2);
      font-weight: 600;
      font-size: 24px;
      letter-spacing: -2%;
      padding: 32px;
      background-color: rgba(255, 108, 50, 0.1);
      border-radius: 20px;
      border: 1px solid #5f5f5f;
      transition: 150ms;
      display: flex;
      gap: 24px;
      p {
        width: 240px;
      }

      &:hover {
        background-color: rgba(255, 108, 50, 0.2);
      }
      div {
        background-color: rgba(255, 108, 50, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 11px;
        border-radius: 12px;
      }
    }
  }
}
