.faq {
  padding: 60px 0;
  h2 {
    font-size: 48px;
    letter-spacing: -3%;
    line-height: 115%;
    color: var(--text-color2);
  }
  background-color: rgba(33, 33, 33, 1);
  position: relative;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(33, 33, 33, 1);
    z-index: -1;
  }
}

.faq-container {
  padding-top: 80px;
  display: flex;
  gap: 20px;
}

.faq-card {
  /* width: 450px; */
  height: fit-content;
  padding: 40px;
  color: var(--text-color2);
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgba(33, 33, 33, 1);
  gap: 30px;
  border-radius: 20px;
  border: 1px solid rgba(241, 217, 39, 0.3);
  background: linear-gradient(
      -140deg,
      rgba(91, 89, 241, 0.2) 1%,
      rgba(255, 255, 255, 0.05) 50%
    ),
    linear-gradient(
      120deg,
      rgba(91, 89, 241, 0.2) 1%,
      rgba(255, 255, 255, 0.05) 50%
    );
  h3 {
    text-align: start;
  }
  p {
    max-width: 370px;
  }
  img:first-child {
    margin: 0 auto;
  }
}

.tg-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* цвет иконки */
  transition: color 0.2s ease;
}

.tg-btn:hover {
  color: #24a1de; /* цвет иконки при hover */
}

/* по желанию, чтобы размер контролировать через CSS */
.tg-icon {
  width: 64px;
  height: 64px;
  display: block;
}

.faq-zone {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--text-color2);
  flex: 1;
  .faq-item {
    background: transparent;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: background 0.3s ease;
    &:hover {
      background: linear-gradient(
        to right,
        rgba(91, 89, 241, 0.3),
        rgba(255, 62, 0, 0.1)
      );
    }
    .faq-question {
      outline: none;
      background-color: transparent;
      color: var(--text-color2);
      font-size: 24px;
      padding: 32px;
      width: 100%;
      text-align: left;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    .faq-answer {
      font-size: 18px;
      line-height: 135%;
      color: var(--text-color2);
      text-wrap: wrap;
      max-width: 750px;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease, max-height 0.3s ease;
      padding: 0 30px 0 30px;
    }
    &.open {
      background: linear-gradient(
        to right,
        rgba(91, 89, 241, 0.3),
        rgba(255, 62, 0, 0.1)
      );
    }
    &.open .faq-answer {
      max-height: 300px;
      opacity: 1;
      transform: translateY(0);
      padding: 0 30px 30px 30px;
    }
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
