.faq {
  padding: 60px 0;
  h2 {
    font-size: 48px;
    letter-spacing: -3%;
    line-height: 115%;
    color: var(--text-color2);
  }
  background-color: rgba(33, 33, 33, 1);
  position: relative;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(33, 33, 33, 1);
    z-index: -1;
  }
}

.faq-container {
  padding-top: 80px;
  display: flex;
  gap: 20px;
}

.faq-card {
  /* width: 450px; */
  height: fit-content;
  padding: 40px;
  color: var(--text-color2);
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgba(33, 33, 33, 1);
  gap: 30px;
  border-radius: 20px;
  border: 1px solid rgba(241, 217, 39, 0.3);
  background: linear-gradient(
      -140deg,
      rgba(91, 89, 241, 0.2) 1%,
      rgba(255, 255, 255, 0.05) 50%
    ),
    linear-gradient(
      120deg,
      rgba(91, 89, 241, 0.2) 1%,
      rgba(255, 255, 255, 0.05) 50%
    );
  h3 {
    text-align: start;
  }
  p {
    max-width: 370px;
  }
  img:first-child {
    margin: 0 auto;
  }
}

.tg-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* цвет иконки */
  transition: color 0.2s ease;
}

.tg-btn:hover {
  color: #24a1de; /* цвет иконки при hover */
}

/* по желанию, чтобы размер контролировать через CSS */
.tg-icon {
  width: 64px;
  height: 64px;
  display: block;
}

.faq-zone {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--text-color2);
  flex: 1;
}

.faq-item {
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  background: transparent;
}

/* ГРАДИЕНТНЫЙ СЛОЙ */
.faq-item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: linear-gradient(
    to right,
    rgba(91, 89, 241, 0.35),
    rgba(255, 62, 0, 0.15)
  );

  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 0;
}

/* hover */
.faq-item:hover::before {
  opacity: 1;
}

/* открытое состояние */
.faq-item.open::before {
  opacity: 1;
}

/* КОНТЕНТ ПОВЕРХ */
.faq-question,
.faq-answer {
  position: relative;
  z-index: 1;
}

/* КНОПКА */
.faq-question {
  outline: none;
  background: transparent;
  color: var(--text-color2);
  font-size: 24px;
  padding: 32px;
  width: 100%;
  text-align: left;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* ОТВЕТ */
.faq-answer {
  font-size: 18px;
  line-height: 135%;
  color: var(--text-color2);
  max-width: 750px;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-16px);

  padding: 0 30px;
  transition: max-height 0.35s ease, opacity 0.25s ease, transform 0.25s ease;
}

.faq-item.open .faq-answer {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
  padding: 0 30px 30px;
}
