footer {
  padding: 60px 0;
  a:hover {
    color: #e7e7e7;
  }
  a {
    transition: 150ms;
  }
}

.footer {
  padding: 60px 67px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: #232323;
  border-radius: 24px;
  img {
    width: 100%;
  }
  p {
    font-size: 16px;
    color: var(--text-color2);
    font-family: "Montserrat";
  }
}

.footer-list {
  color: var(--text-color2);
  display: flex;
  gap: 107px;
  padding-top: 50px;
  h4 {
    font-size: 24px;
    font-weight: 600;
  }
}

.inside-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  font-size: 17px;
  line-height: 135%;
  font-family: "Clear Sans", sans-serif;
}
