.frnds-trn {
  padding: 60px 0;
  position: relative;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100%;
    background-color: rgba(33, 33, 33, 1);
    z-index: -1;
  }
  h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    letter-spacing: -4%;
    color: var(--text-color2);
  }
}

.frnds-list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
  align-items: center;
}

.frnds-card {
  background-color: #2b2b2b;
  border-radius: 24px;
}

.frnds-card-header {
  padding: 24px;
  color: var(--text-color2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  border: 1px solid #aeaeae;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  h4 {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -2%;
  }
  p {
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    line-height: 100%;
    color: #ff6c32;
  }
  .span-first {
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -2%;
    position: relative;
    &::after {
      content: "";
      width: 90px;
      border-bottom: 2px solid #e8441e;
      border-radius: 2px;
      position: absolute;
      top: 18px;
      left: 0;
      transform: rotate(-15deg);
    }
  }
  .span-last {
    font-weight: 700;
    font-size: 64px;
    line-height: 115%;
    letter-spacing: -3%;
  }
  button {
    font-size: 20px;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -1%;
    color: #000000;
    padding: 16px 120px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 150ms;
    &:hover {
      background-color: #ccc;
    }
  }
}

.frnds-card-footer {
  padding: 32px 24px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #585858;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -1%;
    li {
      position: relative;
    }
    li:first-child {
      color: #69e430;
    }
  }
}

.frnds-card-footer ul li:first-child.checked::before {
  background: no-repeat center / contain
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5' fill='none' stroke='%2369E430' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
