.background-image {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 1400px;
  height: auto;
  z-index: -1;
  transform: translateX(-50%);
}
.main-hdr {
  position: relative;
  width: 100%;
  padding-top: 270px;
  color: var(--text-color2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 64px;
  }
  .heading-desc {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: var(--text-color1);
    line-height: 115%;
    letter-spacing: -1%;
  }
}

.main-features {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  padding-top: 130px;
  flex-wrap: wrap;
  align-items: center;
  li {
    display: flex;
    padding: 32px;
    background-color: var(--section-components-bg-color);
    border-radius: var(--section-components-border-radius);
    border: var(--section-components-border);
    gap: 24px;
    max-width: 385px;
    .text-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      h3 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -2%;
        line-height: 100%;
      }
      p {
        font-size: 17px;
        color: var(--text-color3);
        font-weight: 400;
        line-height: 120%;
      }
    }
  }
}

.yellow-el {
  position: absolute;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  top: -150px;
  right: -300px;
  background: radial-gradient(
    circle,
    rgba(255, 215, 0, 0.55) 0%,
    rgba(255, 215, 0, 0.35) 25%,
    rgba(255, 215, 0, 0.18) 45%,
    rgba(255, 215, 0, 0.08) 60%,
    rgba(255, 215, 0, 0.03) 70%,
    rgba(255, 215, 0, 0) 100%
  );

  filter: blur(40px);
  pointer-events: none;
  z-index: -1;
}
.purple-el {
  position: absolute;
  width: 230px;
  height: 230px;

  left: -120px;
  top: 403px;

  border-radius: 50%;

  background: rgba(123, 108, 231, 0.6);

  filter: blur(180px);
  pointer-events: none;
  z-index: -1;
}
