nav {
  display: flex;
  justify-content: space-between;
  color: var(--text-color2);
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 50px;
  img {
    height: 25px;
  }
}

.nav-game {
  padding: 12px 18px;
  background-color: var(--nav-btns-color);
  font-size: 15px;
  border-radius: 8px;
  border: var(--section-components-border);
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  img {
    width: 22px;
  }
  img:last-child {
    margin-left: 10px;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 15px;
  font-weight: 600;
  li {
    padding: 10px 15px;
    background-color: var(--nav-btns-color);
    font-size: 15px;
    border-radius: 8px;
    border: var(--section-components-border);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition: 150ms;
    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}
