.other-dota {
  padding: clamp(4rem, 6vw, 7rem) 0;

  h3 {
    font-size: clamp(2rem, 3.2vw, 3rem);

    color: var(--text-color2);
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -0.04em;
  }
}

.other-dota-list {
  display: flex;
  justify-content: space-between;
  padding-top: 3.125rem;
  gap: 1.875rem;
  align-items: stretch;
  width: 100%;
  flex-wrap: nowrap;
}

.other-dota-card {
  border-radius: 1.5rem;
  background-color: #2b2b2b;
  flex: 1 1 49%;
  min-width: 33.5625rem;
}

.other-header {
  padding: 2rem;
  color: var(--text-color2);
  display: flex;
  background: linear-gradient(#2a4783, #82288c);
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  overflow: hidden;

  padding-right: clamp(18rem, 22vw, 26rem);

  img {
    position: absolute;
    right: -1rem;
    bottom: -1rem;

    width: clamp(18rem, 20vw, 23.9375rem);
    height: auto;
    aspect-ratio: 383 / 367;

    object-fit: contain;
    pointer-events: none;
    user-select: none;
    z-index: 0;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    h4 {
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: -0.02em;
      text-wrap-mode: nowrap;
    }

    p {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.35;
      margin-top: 1.25rem;
    }

    .span-first {
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: -0.02em;
      position: relative;
      margin-top: 2.5rem;
      max-width: fit-content;

      &::after {
        content: "";
        width: 100%;
        border-bottom: 0.1875rem solid #e8441e;
        border-radius: 0.125rem;
        position: absolute;
        top: 1.125rem;
        left: 0;
        transform: rotate(-15deg);
      }
    }

    .span-last {
      font-weight: 700;
      font-size: 4rem;
      line-height: 1.15;
      letter-spacing: -0.03em;
      margin-top: 0.375rem;
    }

    .other-btn {
      margin-top: 2rem;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.05;
      letter-spacing: -0.01em;
      color: #000000;
      z-index: 1;
      padding: 1rem clamp(2rem, 6vw, 6.875rem);
      border-radius: 0.625rem;

      cursor: pointer;
      transition: background-color 150ms;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}

.other-footer {
  padding: 2rem;
  color: var(--text-color2);
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.01em;
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
  }
}

@media (max-width: 74.0625rem) {
  .other-dota-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .other-dota-card {
    flex: 1 1 100%;
    min-width: 100%;
  }

  .other-header {
    padding-right: 26rem;
  }

  .other-header img {
    width: 23.9375rem;
  }
}

@media (max-width: 47.5rem) {
  .other-header {
    padding-right: clamp(8.5rem, 32vw, 16rem);
  }

  .other-header img {
    width: clamp(10rem, 46vw, 23.9375rem);
    right: -0.5rem;
    bottom: -1rem;
  }
}

@media (max-width: 36rem) {
  .other-header {
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  .other-header img {
    width: 150px;
    bottom: 65px;
    right: 20px;
  }
  .other-btn {
    width: 100%;
  }
}
