.other-dota {
  padding: 112px 0;
  h3 {
    font-size: 48px;
    color: var(--text-color2);
    font-weight: 600;
    line-height: 115%;
    letter-spacing: -4%;
  }
}

.other-dota-list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  li {
    border-radius: 24px;
    background-color: #2b2b2b;
  }
}

.other-header {
  padding: 32px;
  color: var(--text-color2);
  display: flex;
  background: linear-gradient(#2a4783, #82288c);
  border-radius: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  width: 785px;
  img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    h4 {
      font-weight: 600;
      font-size: 32px;
      letter-spacing: -2%;
    }
    p {
      font-weight: 600;
      font-size: 20px;
      line-height: 135%;
      margin-top: 20px;
    }
    .span-first {
      font-weight: 500;
      font-size: 32px;
      letter-spacing: -2%;
      position: relative;
      margin-top: 40px;
      max-width: fit-content;
      &::after {
        content: "";
        width: 100%;
        border-bottom: 3px solid #e8441e;
        border-radius: 2px;
        position: absolute;
        top: 18px;
        left: 0;
        transform: rotate(-15deg);
      }
    }
    .span-last {
      font-weight: 700;
      font-size: 64px;
      line-height: 115%;
      letter-spacing: -3%;
      margin-top: 6px;
    }
    .other-btn {
      margin-top: 32px;
      font-size: 20px;
      font-weight: 600;
      line-height: 105%;
      letter-spacing: -1%;
      color: #000000;
      padding: 16px 110px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 150ms;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}

.other-footer {
  padding: 32px;
  color: var(--text-color2);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1%;
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 16px;
  }
}
