.personal-trainings::after {
  content: "";
  background-image: url("../assets/personal.svg");
  background-repeat: repeat-x;
  background-size: contain;
  position: absolute;
  inset: 0;
  left: -90vw;
  width: 200vw;
  height: 995px;
  z-index: -999;
}

.personal-trainings {
  position: relative;
  padding-top: 60px;
  padding-bottom: 109px;
  h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: -4%;
    color: var(--text-color2);
  }
}

.trainings-list {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.personal-card-dota {
  background-color: #2b2b2b;
  border-radius: 24px;
}

.personal-card-dota-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(110deg, rgba(75, 54, 33, 1), rgba(25, 25, 25, 1));
  color: var(--text-color2);
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  h4 {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -2%;
  }
  .p-first {
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
  }
  .p-last {
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    color: #ff6c32;
  }
  .span-first {
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -2%;
    position: relative;
    width: max-content;
    height: max-content;
    &::after {
      content: "";
      width: 100%;
      border-bottom: 3px solid #e8441e;
      border-radius: 2px;
      position: absolute;
      top: 18px;
      left: 0;
      transform: rotate(-13deg);
    }
  }
  .span-last {
    font-weight: 700;
    font-size: 64px;
    line-height: 115%;
    letter-spacing: -3%;
  }
  button {
    font-size: 20px;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -1%;
    color: #000000;
    padding: 16px 120px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 150ms;
    &:hover {
      background-color: #ccc;
    }
  }
}

.personal-card-dota-footer {
  padding: 32px 24px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #585858;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -1%;
    li {
      position: relative;
    }
    li:first-child {
      color: #69e430;
    }
  }
}

.personal-card-dota-footer ul li:first-child.checked::before {
  background: no-repeat center / contain
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5' fill='none' stroke='%2369E430' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.checked {
  position: relative;
  padding-left: 28px;
  color: var(--text-color2);
}

.checked::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);

  background: no-repeat center / contain
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5' fill='none' stroke='%23FFFFFF' stroke-width='3.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.cross {
  position: relative;
  padding-left: 28px;
}

.cross::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);

  background: no-repeat center / contain
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M6 6L18 18M18 6L6 18' fill='none' stroke='%23585858' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.start {
  background: linear-gradient(110deg, #5b6a2e, #3b3932);
}

.divine {
  background: linear-gradient(110deg, #2a4783, #82288c);
}

.immortal {
  background: linear-gradient(110deg, #2e11a4, #ff6c32);
}
