.special-valo {
  padding-top: 60px;
}

.special-container {
  padding: 60px;
  border: 1px solid rgba(255, 98, 114, 0.3);
  border-radius: 40px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.05);
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.special-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: var(--text-color2);
}

.special-content h2 {
  font-size: clamp(28px, 3.2vw, 48px);
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -3%;
}

.special-content p {
  font-size: clamp(16px, 1.3vw, 20px);
  font-weight: 400;
  line-height: 135%;
  text-wrap-mode: wrap;
  width: clamp(300px, 55vw, 720px);
}

.special-price {
  font-size: clamp(36px, 4vw, 64px);
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -3%;
  margin-top: 8px;
}

.special-content button {
  margin-top: 10px;
  padding: 16px 32px;
  width: clamp(220px, 25vw, 321px);
  border-radius: 10px;

  font-size: clamp(16px, 1.2vw, 20px);
  font-weight: 600;
  line-height: 105%;
  letter-spacing: -1%;

  display: flex;
  justify-content: center;
}

.special-img {
  position: absolute;
  right: -1rem;
  bottom: -3rem;

  width: clamp(280px, 45vw, 670px);

  z-index: -1;

  aspect-ratio: 383 / 367;

  object-fit: contain;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 80rem) {
  .special-img {
    width: clamp(300px, 45vw, 570px);
  }
}

@media (max-width: 650px) {
  .special-img {
    display: none;
  }
}
