.tr-rules {
  display: flex;
  padding: 120px 30px;
  justify-content: center;
  align-items: center;
  color: var(--text-color2);
}

.tr-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 1200px;
}

.tr-rules h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  letter-spacing: -4%;
  margin-bottom: 60px;
}

.tr-rules h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -2%;
  margin-bottom: 32px;
}

.tr-container section {
  display: flex;
  flex-direction: column;
}

.tr-container p {
  font-size: 20px;
  font-weight: 400;
  line-height: 135%;
}
