.ty-page {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
  min-height: 100vh;
  overflow: hidden;
}

.ty-page h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -7%;
  max-width: 810px;
}

.ty-content {
  color: var(--text-color2);
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.ty-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
  line-height: 135%;
  font-weight: 400;
  max-width: 807px;
}

.ty-text p:first-child {
  font-weight: 500;
  font-size: 24px;
}

.ty-text a {
  text-decoration: underline;
  color: #ff4350;
  font-weight: 700;
}

.ty-hero {
  width: clamp(215px, 50vw, 593px);
  aspect-ratio: 593/315;
  user-select: none;
  pointer-events: none;
}

.ty-button {
  display: flex;
  justify-content: center;
  width: 321px;
  padding: 16px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 105%;
  letter-spacing: -1%;
  cursor: pointer;
  background-color: var(--text-color2);
  color: #000000;
}

.ty-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1400px;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

/* Контент поверх */
.ty-content,
.ty-page > img:not(.ty-bg) {
  position: relative;
  z-index: 2;
}
