:root {
  --background-color: #0e0e0e;

  --nav-btns-color: rgba(255, 255, 255, 0.2);

  --section-components-bg-color: rgba(255, 255, 255, 0.1);
  --section-components-border: 1px solid #5f5f5f;
  --section-components-border-radius: 20px;

  --text-color1: #f2f2f2;
  --text-color2: #ffffff;
  --text-color3: #ebebeb;

  --game-panel-bg-color: #404040;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif !important;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
  position: relative;
}

button,
input,
textarea {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 40px;
}
